
.center {
    text-align: center;
    align-items: center;
    position: center;
}

.bottom {
    text-align: center;
    align-items: center;
    position: center;
    margin: 3rem 0 3rem 0;
}

button:active {

    box-shadow: inset -.2rem -.1rem 1.4rem  #FBFBFB, inset .2rem .3rem .5rem #BEC5D0;
    cursor: pointer;

}