input {
    width: 20rem;
    margin: 2rem 0.5rem 2rem 2rem;
    padding: 1.3rem;
    border-radius: 2rem;
    outline: none;
    border: 0;
    font-size: 1.2rem;
    font-family: "GmarketSansMedium", sans-serif;
    color: #53be92;
}

Button {
    padding: 1rem;
    margin: 0.5rem;
    outline: none;
    border: 0;
    border-radius: 2rem;
    background: rgb(83, 190, 146);
    color: white;
    font-size: 1.3rem;
    font-family: "GmarketSansMedium", sans-serif;
}

.center {
    position: relative;
    display: block;
    top: 2rem;
    margin: 0 auto;
    text-align: center;

}