@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    /* header */

    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;
}

.positioner {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

.closeBtn {
    width: 5rem;
    height: 5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
    background: rgb(213, 213, 213);
    margin: 3rem 0 1rem 0;
}
.closeBtn:hover {
    background: #a9a9a9;
    transform: translateY(-0.1rem);
    transition: all 0.5s;
}
button:active {

    box-shadow: inset -.2rem -.1rem 1.4rem  #FBFBFB, inset .2rem .3rem .5rem #BEC5D0;
    cursor: pointer;

}

